/CFUsingEngine_complex
/LabelPropagationUsingEngine_simple4
/PageRankUsingEngine_simple3
/CFUsingEngine_complex_full
/LabelPropagationUsingEngine_simple4_full
/PageRankUsingEngine_simple3_full
/SSSP
/SSSP_old
/LabelPropagation
/PageRank
/CF
/BFS
